extends ./../index.jade

block main
    div(class="mainContainer")
        table(border= 1, class="navCompetition")
            thead
                th.navFirstElement Main
                th
                    a(href='/competitions') Competitions
                th
                    a(href='https://vk.com/vlad_ork') VK
    